*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat;
    font-weight: 400;
}

.cabecalho{
    background-color: rgba(255, 154, 108, 1);
    display: flex;
    padding: 24px 80px;
    align-items: center;
    justify-content: space-between;
}


.cabecalho_link{
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color:  rgba(255, 255, 255, 1);
    padding: 32px;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1,h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo{
    line-height: 150%;
    margin-bottom: 32px;
}

.botao{
    text-decoration: none;
    background: rgba(255, 114, 94, 1);
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    
}

.botao_transparente{
    color: rgba(255, 114, 94, 1);
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    background: rgba(255, 255, 255, 1);
    text-underline-offset: 4px;
}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li{
    margin-bottom: 16px;
    margin-left: 32px;
}

#farmacia{
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 64px auto;
}

#farmacia .paragrafo{
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida{
    position: relative;
}

.duvida h3{
    border: 2px solid #ff725E;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img{
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo{
    border-right: 1px solid #ff725E;
    border-left: 1px solid #ff725E;
    border-bottom: 1px solid #ff725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow:hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer{
    background-color: rgb(255,152,108, 0.25);
    display: flex;
    gap: 80px;
    padding: 64px 80px;
    justify-content: space-between;
}

footer img,
footer .titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a{
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    max-width: 350px;
}

footer p {
    margin-bottom: 16px;
}

footer p a{
    color: #263138;
    text-decoration: none;
}

#copyright{
    background-color: #263138;
    color: #FFFFFF;
    text-align: center;
    padding: 24px;
}

#copyright a {
    text-decoration: none;
    color: #ff725E;
}



